include jadecomponents/layout.jade
block css
  link(rel='stylesheet' href='css/index.css')
block content
  div.container#page-body(role='main')
    div.jumbotron
      h1 Rabot —— Learning by coding a rabbit!
      p.
        Coding for fun, is that a joke? No! Try our product to experience
        how programming is transformed into a toy for children!
      p
        a.btn.btn-primary.btn-lg(href='game.html' role='button') Play Demo
        a.btn.btn-success.btn-lg(href='register.html' role='button').
          Register Now
