doctype html
html
  head
    link(rel='stylesheet' href='css/bootstrap.min.css')
    link(rel='stylesheet' href='css/index.css')
    link(rel="stylesheet" href="css/codemirror.css")
    title Rabot
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
            span.sr-only Toggle navigation
          a.navbar-brand(href='#') Rabot
        div#navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#game') The Game
    div#container-play
      svg#play-canvas
    div#container-code
      div#container-code-editor
        textarea#code-editor
      div#container-code-assistant
      div#container-code-control
        p
          button#button-run-code.btn.btn-primary(type='button')
            span.glyphicon.glyphicon-play
            span Run
          button#button-stop-code.btn.btn-warning(type='button')
            span.glyphicon.glyphicon-stop
            span Stop
    script(type='text/javascript' src='js/jquery.min.js')
    script(type='text/javascript' src='js/bootstrap.min.js')
    script(type='text/javascript' src='js/codemirror.js')
    script(type='text/javascript' src='js/snap.svg-min.js')
    script(type='text/javascript' src='js/iced-coffee-script-108.0.8-min.js')
    script(type='text/javascript' src='js/index-game-scene.js')
    script(type='text/javascript' src='js/index-usercode-preprocessor.js')
    script(type='text/javascript' src='js/index.js')
