include _includes/layout.jade

block content
  div.container(role='main')
    div.jumbotron
      h1 Learn coding with a rabbit
      p.
        Coding for fun? Is that a joke? No!
      p
        a.btn.btn-primary.btn-lg(href='/game.html' role='button') Play Now
