include /widgets/game-view/template.jade

extends /commons/template.jade

block title 
  | Play | Rabot

block content
  div.play-app
    +game-view()(class="pa-game-view")

block navbar-right-ext
  ul.nav.navbar-nav.navbar-right
    +nav-level-selector()

block footer
