# This file is created with the assistance of https://www.gitignore.io

### Frontend ###
# Logs
logs
log
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage
.grunt

# Dependency directory
node_modules
bower_components

# Distribution
_site

# Temp files
*.swp
tmp
.sass-cache
cwd

# Redis dump file
dump.rdb

### Python Backend ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtualenv
venv

# App migrations
migrations

# Sqlite database
*.sqlite3

#Idea config
.idea

# Files containing passwords
secret.json
