extends /commons/template.jade

block content
  div.app_homepage(role='main')
    div.jumbotron
      h1 Learn coding with a rabbit
      p.
        Coding for fun? Is that a joke? No!
      p
        a.btn.btn-primary.btn-lg(href='/play/' role='button') Play Now
