doctype html

html
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")

      title
        block title
          Rabot

      block stylesheet
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/codemirror.css")
        link(rel="stylesheet" href="/css/style.css")

    body
      block body

      block scripts
        script(type="text/javascript" src="js/jquery.min.js")
        script(type="text/javascript" src="js/bootstrap.min.js")
        script(type="text/javascript" src="js/codemirror.js")
        script(type="text/javascript" src="js/snap.svg-min.js")
        script(type="text/javascript" src="js/iced-coffee-script-108.0.8-min.js")
        script(type="text/javascript" src="js/site.js")
