extends /commons/template.jade

block title
  | Register | Rabot

block content
  div.container.register-app
    h1 Register
    div.ra-form-container.col-md-6
      form.ra-form.form-horizontal
        div.form-group
          div.input-group
            span.input-group-addon @
            input.form-control.ra-username(type="text" placeholder="Username" required)
        div.form-group
          div.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-envelope
            input.form-control.ra-email(type="email" placeholder="Email" required)
        div.form-group
          div.input-group.col-md-6.ra-float-left
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control.ra-password(type="password" placeholder="Password" required)
          div.input-group.col-md-6.ra-float-left
            span.input-group-addon
              i.glyphicon.glyphicon-hand-left
            input.form-control.ra-confirm(type="password" placeholder="Repeat that" required)

        div.form-group
          button.btn.btn-primary.ra-submit(type='submit') Submit
          button.btn.btn-primary.ra-submitting.hidden(type='submit' disabled) Submitting...
