extends /commons/template.jade

block content
  div.container.register-app
      div.row
        div.col-sm-6
          h1 Register
      div.row
        form.form-horizontal
          div.form-group
            label.col-sm-2.control-label(for='input-text') Username
            div.col-sm-4
              input.form-control.ra-username(type="text" placeholder="Username")
          div.form-group
            label.col-sm-2.control-label(for='input-password') Password
            div.col-sm-4
              input.form-control.ra-password(type="password" placeholder="Password")
          div.form-group
            label.col-sm-2.control-label(for='input-password') Password Confirm
            div.col-sm-4
              input.form-control.ra-confirm(type="password" placeholder="Password Confirm")
          div.form-group
            label.col-sm-2.control-label(for='input-email') Email
            div.col-sm-4
              input.form-control.ra-email(type="email" placeholder="Email")
          div
            button.btn.btn-primary.ra-submit(type='button') Submit
