$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$containerPlayWidth:	600px;
$containerTop:	50px;
$containerCodeLeft:	600px;
$containerCodeTop:	50px;
$containerCodeEditorBottom:	75px;
$containerCodeAssistantHeight:	75px;


.absolute-full-width
{
  position:absolute;
  left:0px;
  right:0px;
}

.absolute-full-height
{
  position:absolute;
  top:0px;
  bottom:0px;
}

#container-play
{
  position:absolute;
  left:0;
  width:$containerPlayWidth;
  top:$containerTop;
  bottom:0;
  background:blue;
}

#container-code
{
  position:absolute;
  left:$containerCodeLeft;
  right:0;
  top:$containerCodeTop;
  bottom:0;
}

#container-code-editor
{
  @extend .absolute-full-width;
  top:0;
  bottom:$containerCodeEditorBottom;
}

#container-code-assistant
{
  @extend .absolute-full-width;
  height:$containerCodeAssistantHeight;
  bottom:0;
  background:#aaa;
}

#code-editor
{
  @extend .absolute-full-width;
  @extend .absolute-full-height;
  width:100%;
  height:100%;
}

#play-canvas
{
  @extend .absolute-full-width;
  @extend .absolute-full-height;
  background:white;
}

#container-code-control
{
  position:fixed;
  right: 0px;
  width: 300px;
  bottom: 100px;
  height: 75px;
  background: #aaa;
}
