$level-selector-button-height: 35px;

.nav-level-selector {
  a.level-selector-button {
    padding-top: ($navbar-height - $level-selector-button-height) / 2;
    padding-bottom: ($navbar-height - $level-selector-button-height) / 2;
    display: block;
  }
  .nls-icon {
    width: $level-selector-button-height;
    height: $level-selector-button-height;
  }
}
