div.container
  p.text-muted.pull-left(data-i18n="footer.proudly")
  div.dropup.pull-right
    button.dropdown-toggle(type="button", data-toggle="dropdown")
      i.glyphicon.glyphicon-globe
    ul.dropdown-menu
      li
        a(href="/?setLng=zh") 中文
        a(href="/?setLng=dev") English
