.game-view {
  @import "../game-scene/style";
  @import "../code-editor/style";
  @import "../level-selector/style";
  @import "../game-over-dialog/style";
  @import "../game-control-bar/style";

  $game_scene_width : 45%;

  .gv-game-scene {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 100% - $game_scene_width;
  }
  .gv-code-editor {
    position: absolute;
    top: 0;
    bottom: 40px;
    left: $game_scene_width;
    right: 0;
  }
  .gv-code-assistance {
    background-color: #1b4049;
    position: absolute;
    left: $game_scene_width;
    right: 0;
    height: 40px;
    bottom: 0;
    .btn {
      font-family: monospace;
      font-size: 10px;
      margin-left: 5px;
      margin-top: 5px;
      width: 80px;
      height: 30px;
    }
  }
}
