include /widgets/game-scene/template.jade
include /widgets/code-editor/template.jade
include /widgets/level-selector/template.jade

mixin game-view()
  div.game-view(class!=attributes.class)
    +game-scene()(class="gv-game-scene")
    +code-editor()(class="gv-code-editor")
    +level-selector()(class="gv-level-selector")

    div.gv-code-controller
      button.run-code.btn.btn-primary(type="button")
        i.glyphicon.glyphicon-play
        span Run
      button.stop-code.btn.btn-warning(type="button")
        i.glyphicon.glyphicon-stop
        span Stop

      button.select-level.btn.btn-primary(type="button")
        span Select Level
