mixin nav-user-manager()
  li.nav-user-manager.dropdown(class!=attributes.class)
    a(href="#", data-toggle="dropdown")
      img.num-userinfo.dropdown-toggle(src="https://secure.gravatar.com/avatar/nobody?d=mm")
    div.num-guest-view.dropdown-menu
      form.num-login-form
        div.num-container.form-group
          div.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-user
            input.form-control.num-gv-username(name="username", type="text", data-i18n="[placeholder]nav-user-manager.username")
        div.num-container.form-group
          div.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control.num-gv-password(name="password", type="password", data-i18n="[placeholder]nav-user-manager.password")
        div.num-container
          a.btn.btn-primary.num-gv-login(href="#", role="button", data-i18n="nav-user-manager.login")
          a.btn.btn-primary.num-gv-loggingin.hidden(href="#", role="button", data-i18n="nav-user-manager.processing" disabled)
          a.btn.btn-default.num-gv-register(href="/register/", role="button", data-i18n="nav-user-manager.register")
    ul.num-user-view.dropdown-menu.hidden
      li
        a.num-uv-edit(href="/updateinfo/")
          span @
          span.num-uv-username dotKrnl
      li
        a.num-uv-logout(href="#", data-i18n="nav-user-manager.logout")
