mixin nav-user-manager()
  li.nav-user-manager.dropdown(class!=attributes.class)
    a(href="#", data-toggle="dropdown")
      img.num-userinfo.dropdown-toggle(src="http://www.gravatar.com/avatar/nobody?d=mm")
    div.num-guest-view.dropdown-menu
      form.num-login-form
        div.num-container
          input.form-control.num-gv-username(name="username", type="text", placeholder="Username")
        div.num-container
          input.form-control.num-gv-password(name="password", type="password", placeholder="Password")
        div.num-container
          a.btn.btn-primary.num-gv-login(href="#", role="button") Login
          a.btn.btn-default.num-gv-register(href="/register/", role="button") Register
    ul.num-user-view.dropdown-menu.hidden
      li
        a.num-uv-edit(href="/updateinfo/")
          span @
          span.num-uv-username dotKrnl
      li
        a.num-uv-logout(href="#") Logout
