extends /commons/template.jade

block content
  div.container.update-app
    h1 Edit Logins
    div.ua-form-container.col-md-6
      form.ua-form.form-horizontal
        div.form-group
          div.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-lock
            input.form-control.ua-password(type="password" placeholder="Current Password" required)
            span.input-group-addon
              i.glyphicon.glyphicon-asterisk
        div.form-group
          div.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-pencil
            input.form-control.ua-newpwd(type="password" placeholder="Change Password (optional)")
        div.form-group
          div.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-hand-up
            input.form-control.ua-confirm(type="password" placeholder="Repeat that")
        div.form-group
          div.input-group
            span.input-group-addon
              i.glyphicon.glyphicon-envelope
            input.form-control.ua-email(type="email" placeholder="Change Email (optional)")
        div.form-group
          button.btn.btn-primary.ua-submit(type='submit') Submit
          button.btn.btn-primary.ua-submitting.hidden(type='submit' disabled) Processing...
