extends /commons/template.jade

block content
  div.container.update-app
    div.row
      div.col-sm-6
        h1 Update
    div.row
      form.form-horizontal
        div.form-group
          label.col-sm-2.control-label(for='input-password') Old Password
          div.col-sm-4
            input.form-control.ua-password(type="password" placeholder="Required")
        div.form-group
          label.col-sm-2.control-label(for='input-password') New Password
          div.col-sm-4
            input.form-control.ua-newpwd(type="password" placeholder="Left blank if not updating")
        div.form-group
          label.col-sm-2.control-label(for='input-password') Password Confirm
          div.col-sm-4
            input.form-control.ua-confirm(type="password" placeholder="Left blank if not updating")
        div.form-group
          label.col-sm-2.control-label(for='input-email') New Email
          div.col-sm-4
            input.form-control.ua-email(type="email" placeholder="Left blank if not updating")
        div
          button.btn.btn-primary.ua-submit(type='button') Submit
