mixin level-selector()
  div.level-selector(class!=attributes.class)
    div
      div.ls-mask
      div.ls-content
        div.panel.panel-default
          div.panel-heading
            button.close.cancel-dialog(type="button")
              span(aria-hidden="true") &times;
              span.sr-only Back
            h5 Select Level
          div.panel-body
            svg.ls-canvas(viewBox="0 0 600 400")
