.game-control-bar
{
  $bottom : 100px;
  $height : 100px;
  $small_button_width : 100px;
  $large_button_width : 200px;
  $folded_width : $large_button_width + 1.5 * $small_button_width;
  $total_width : $large_button_width + 2 * $small_button_width + 100px;
  position : fixed;
  right : 0px;
  bottom : $bottom;
  width : $total_width;
  right : $folded_width - $total_width;
  z-index: 99;
  .button
  {
    background-repeat: no-repeat;
    background-position: center;
    display : inline-block;
    height : $height;
    line-height : $height;
    font-size: 2.5em;
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }
    background-size: 100% 100%;
  }
  .button-large
  {
    @extend .button;
    width : $large_button_width;
    padding-left: 95px;
    color: black;
  }
  .button-small
  {
    @extend .button;
    width : $small_button_width;
  }
  .button-run
  {
    @extend .button-large;
    background-image : url(/public/images/game-control-bar/button-run.png);
  }
  .button-stop
  {
    @extend .button-large;
    background-image : url(/public/images/game-control-bar/button-stop.png);
  }
  .button-reset
  {
    @extend .button-small;
    background-image : url(/public/images/game-control-bar/button-reset.png);
  }
  .button-settings
  {
    @extend .button-small;
    background-image : url(/public/images/game-control-bar/button-settings.png);
  }
}
