.game-control-bar
{
  $bottom : 70px;
  $height : 100px;
  $small_button_width : 100px;
  $large_button_width : 200px;
  $folded_width : $large_button_width + 1.5 * $small_button_width;
  $total_width : $large_button_width + 2 * $small_button_width + 100px;
  position : fixed;
  bottom : $bottom;
  width : $total_width;
  right : $folded_width - $total_width;
  z-index: 99;
  .button
  {
    background-repeat: no-repeat;
    background-position: center;
    display : inline-block;
    height : $height;
    line-height : $height;
    font-size: 2.5em;
    text-decoration: none;
    background-size: 100% 100%;
  }
  .button-large
  {
    @extend .button;
    width : $large_button_width;
    padding-left: 95px;
    color: black;
  }
  .button-small
  {
    @extend .button;
    width : $small_button_width;
  }
  .button-run
  {
    @extend .button-large;
    background-image : url(/public/images/game-control-bar/button-run.png);
  }
  .button-stop
  {
    @extend .button-large;
    background-image : url(/public/images/game-control-bar/button-stop.png);
  }
  .button-reset
  {
    @extend .button-small;
    background-image : url(/public/images/game-control-bar/button-reset.png);
  }
  .button-settings
  {
    @extend .button-small;
    background-image : url(/public/images/game-control-bar/button-settings.png);
  }
  @media screen and (max-width: $screen-xs-max) {
    bottom: $bottom / 2;
    width: $total_width / 2;
    right: ($folded_width - $total_width) / 2;
    .button-xs {
      height: $height / 2;
      line-height: $height / 2;
      font-size: 1.25em;
    }
    .button-xs-large
    {
      @extend .button-xs;
      width: $large_button_width / 2;
      padding-left: 47.5px;
    }
    .button-xs-small {
      @extend .button-xs;
      width: $small_button_width / 2;
    }
    .button-run {
      @extend .button-xs-large;
    }
    .button-stop {
      @extend .button-xs-large;
    }
    .button-reset {
      @extend .button-xs-small;
    }
    .button-settings {
      @extend .button-xs-small;
    }
  }
}
