mixin game-control-bar()
  div.game-control-bar(class!=attributes.class)
    a.button-run(href="#" data-i18n="game-control-bar.run") &nbsp;
    a.button-stop(href="#" data-i18n="game-control-bar.stop") &nbsp;
    a.button-reset(href="#") &nbsp;
    a.button-settings(href="#") &nbsp;
